<div class="game">
  <p>Remaining Sticks: {{ sticks.length }}</p>

  <div class="stick-container">
    <ng-container *ngFor="let stick of sticks">
      <app-sticks></app-sticks>
    </ng-container>
  </div>

  <p>{{ winnerMessage }}</p>

  <ng-container *ngIf="!winnerMessage; else tryAgain">
    <p *ngIf="isPlayerTurn">Your turn:</p>
    <p *ngIf="!isPlayerTurn">Computer's turn...</p>

    <button *ngIf="isPlayerTurn" (click)="playerMove(1)" class="btn btn-outline-primary">Take 1 Stick</button>
    <button *ngIf="isPlayerTurn" [disabled]="sticks.length <=2" (click)="playerMove(2)" class="btn btn-outline-primary game-stick-btn">Take 2 Sticks</button>
    <button *ngIf="isPlayerTurn" [disabled]="sticks.length <=3" (click)="playerMove(3)" class="btn btn-outline-primary game-stick-btn">Take 3 Sticks</button>
  </ng-container>

  <ng-template #tryAgain>
    <button (click)="startGame()" class="btn btn-primary">Try again!</button>
  </ng-template>

</div>
